//Brand color
$color-red-rimac: #EF3340;

//Background
$color-background: #F7F8FC;
$color-background-2: #ECF0FF;

//Text
$color-text-heading: #494F66;
$color-text-paragraph: #676F8F;
$color-text-paragraph-1: #A3ABCC;

//Form
$color-form-border: #C5CBE0;
$color-form-placeholder: #A3ABCC;

// Complementaries
$color-secundary-1: #6769FF;
$color-secundary-2: #6F7DFF;
$color-green-1: #43B748;
$color-green-2: #7CC954;
$color-gray-4: #C5CBE0;
$color-gray-5: #E4E8F7;
$color-gray-6:#F0F2FA;
