@import '_colors.scss'; 

.main {
  display: flex;

  .main__illustration {
    min-height: 100vh;
    background: $color-background;
    position: relative;
    min-width: 408px;

    .main__illustration__desktop {
      display: block;
      position: absolute;
      top: 96px;
    right: -93px;
    }

    .main__illustration__mobile {
      display: none;
    }
  }

  .main__text {
    width: 100%;
    margin-top: 96px;
    margin-left: 224px;
    max-width: 480px;

    .main__text__title {
      font-size: 36px;
      color: $color-red-rimac;
      margin-bottom: 5px;
    }
    .main__text__subtitle {
      font-size: 36px;
      color: $color-text-heading;
      line-height: 48px;
      margin-bottom: 20px;
    }
    .main__text__description {
      font-size: 16px;
      color: $color-text-paragraph;
      font-family: Roboto;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 5px;
    }
    .main__text__email {
      font-size: 16px;
      color: $color-text-paragraph;
      font-family: Roboto;
      font-weight: 500;
      margin-bottom: 40px;
    }

    button {
      width: 255px;
    }
  }

}
.footer {
  display: none;
}

@media screen and (max-width: 860px) {
  .main {
    flex-direction: column;

    .main__illustration {
      min-height: 0px;
      min-width: 0px;
      width: 100%;
      background: $color-background;
      position: relative;
  
      .main__illustration__desktop {
        display: none;
      }
  
      .main__illustration__mobile {
        display: block;
        float: right;
      }
    }

    .main__text {
      margin: 0;
      max-width: none;
      padding: 0 32px;
      margin-top: 48px;

      .main__text__title {
        font-size: 28px;
        margin-bottom: 5px;
      }
      .main__text__subtitle {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px;
      }
      .main__text__email {
        font-size: 16px;
        color: $color-text-paragraph;
        font-family: Roboto;
        font-weight: 500;
        margin-bottom: 40px;
      }
  
      button {
        width: 100%;
        margin-bottom: 57px;
      }
    }    
  }

  .footer {
    display: flex;
    height: 75px;
    padding: 0 32px;
    align-items: center;
    border-top: 1px solid $color-gray-5;
    color: $color-text-paragraph-1;
  }
  
}